body, main {
    background-color: #8A796880;
}

.navbar {
    background-color: #1A1A24;
}

.navbar-brand {
    color: #F7FAFC;
}

.highlight {
    background-color: #F7FAFC;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

footer {
    background-color: #1A1A24;
    color: #F7FAFC;
}

.profile-image {
    width: 400px;
    height: 400px;
    object-fit: contain;
}